.bike-legend {
  padding: 10px;
}

.bike-legend-panel {
  position: absolute;
  top: 60px;
  left: 20px;
  background: var(--color-white-transparent);
  backdrop-filter: blur(var(--blur));
  border-radius: 1rem;
  box-shadow: var(--shadow);
  z-index: 1000;
}

.bike-legend-title {
  margin-bottom: 8px;
}

.bike-legend-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.bike-legend-list-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 12px;
}

