:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --timing: 1s;
	--blur: 10px;
  --blur-small: 4px;
	--border-width: 4px;
	--radius-main: 1rem;
  --radius-large: 1.5rem;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --opacity: 0.5;

  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-green: rgb(46, 139, 86);
  --color-blue: rgb(46, 99, 139);
  --color-violet: #535bf2;
  --color-violet-light: rgb(100, 108, 255);
  --color-violet-transparent: rgba(83, 91, 242, var(--opacity));
  --color-white-transparent: rgba(255, 255, 255, var(--opacity));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul,
ol {
  list-style: none;
}

input {
  position: relative;
  height: 40px;
  padding: 8px 16px;
  background-color: var(--color-violet-transparent);
  backdrop-filter: blur(var(--blur));
  border: 0;
  border-radius: 20px;
  box-shadow: var(--shadow);
  color: var(--color-white);
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  font-family: inherit;
  transition: color .3s, background-color .3s;
  z-index: 1;
}

input::placeholder {
  color: var(--color-white-transparent);
}

input:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 4px var(--color-violet);
}

.input-wrap {
  position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
